package $tableInfo.mapperPackageName;

import ${tableInfo.packageName}.${tableInfo.className};
import com.yukong.panda.common.base.mapper.BaseMapper;



/**
 * @author $tableInfo.authorName
 */
public interface ${tableInfo.className}Mapper extends BaseMapper<$!{tableInfo.className}>{

}
